.App {
  text-align: center;
  margin: auto;
}
.list_title{
  float:right;
  font-size: small;
  color: gray;
  margin : 0;
  margin-top: 40px;
  margin-bottom: 5px;
}
.clear{
  clear:both;
}

.tooltip_title{
  font-size: small;
}
.tooltip_icon{
  margin-left : -5px;
  margin-top : 2px;
}
.tooltip_text{
  margin-left : 5px;
  margin-top : 5px;
  font-size: small;
}
.tooltip_message{
  display : inline-flexbox;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.tooltip{
  width: 200px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
	background: gray;
	border-radius: 2px;
	margin-left: -98px;
	margin-top: 37px;
}

.tooltip:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: gray;
	border-top: 0;
	margin-left: -6px;
	margin-top: -6px;
}

.container{
  height: 90%;
  width: 80%;
  margin: 0 auto;
}


.project_list{
  border: 1px solid lightgray;
  border-radius: 4px;
  align-content: center;
  margin-bottom: 50px;
}

.project_view_container{
  border-bottom: 1px solid lightgray;
} 
.project_view{
  margin: 0 auto;
  width: 95%;
  display:block;
}

.project_name{
  color:gray;
  font-weight: 400;
  padding-top:15px;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.line {
  width: 90%; 
  text-align: center; 
  border-bottom: 1px solid gray; 
  line-height: 0.1em;
  margin: 10px 0 10px; 
} 

.line span { 
   background:#fff; 
   padding:0 5px; 
}
.proj_availability{
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 0.6em;
  
  display: flex;
  justify-content: space-between;
}
.proj_availability  .left{
  text-align:left;
  min-width: 58px;
}
.proj_availability  .right{
  text-align:right;
}

.banding_headers{
  display: flex;
  justify-content: space-between;
}

.slot_list{
  padding-top:10px;
  padding-bottom:30px;
  text-align: left;
  display:-webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  width: 100%;
}
.slot{  
  height: 30px;
  margin-left: 3px;
  position:relative;
  -webkit-box-flex: 1;
  text-align: center;
}